:root {
  --bg-color: #1a1a1a; /* Ciemny szary zamiast czerni */
  --text-color: #e0e0e0; /* Jaśniejszy szary tekst */
  --accent-color: #8a2e2e; /* Ciemne bordo dla akcentów */
}

body.light-mode {
  --bg-color: #f8f8f8; /* Jaśniejszy szaro-beżowy odcień */
  --text-color: #333333; /* Ciemny szary tekst */
  --accent-color: #9b1c1c; /* Stonowany czerwony */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

header, footer {
  background-color: var(--accent-color);
  padding: 1em;
  text-align: center;
}

button#toggle-theme {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 10px;
  background: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

h2, p {
  color: var(--text-color); /* Użyj koloru tekstu dla lepszego dopasowania */
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

td, th {
  background-color: rgba(255, 255, 255, 0.05); /* dla dark mode */
}

body.light-mode td, body.light-mode th {
  background-color: rgba(0, 0, 0, 0.05); /* dla light mode */
}

/* Navbar */
.navbar {
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  font-size: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--accent-color);
}

button#toggle-theme {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

button#toggle-theme:hover {
  color: var(--accent-color);
}
